# Dependency directories
/node_modules


# Build artifacts
/build
/dist

# Logs
/logs

# OS or Editor specific files
.DS_Store
.idea
.vscode

# Temporary files
*.log

# User-specific files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
